<!DOCTYPE html>
<html>
  <head>
  <!-- <script src="/application.js"></script> -->
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

  </head>
  <body>
    <!-- <form action='/' method='post'> -->
      Create a new item
      Property: <input id="property" name="property">
      Value: <input id="value" name="value">
      <input id="button" type="submit" value="save">
    <!-- </form> -->
    <table id="items">
    </table>
    <script>
      $(function() {
        $('#button').on('click', function() {
          $.post('/', {name: $('#property').val(), price: $('#value').val()})
          $('#items').append('<tr><td>' + $('#property').val() + '</td><td>' + $('#value').val() + '</td></tr>');
        });
      });
    </script>
  </body>
</html>
