doctype html
html
  head
    script(src='http://code.jquery.com/jquery-1.11.3.min.js')
  body
    navbar#navbar
      #[a(href="/") Create ]
      #[a(href="/items") Search ]
    h1 Items
    p Find items
    form(action="/items", method="post")
      input(type='text', id='searchBox' name="keyword")
      input(type='submit', id='searchButton', value='Search')
    - for item in items
      br
      table(class="table" style="border: 1px solid black")
        - for val, key in item
          tr
            td(style="border: 1px solid black") #{key}
            td(style="border: 1px solid black") #{val}
        tr
          td #[a(href="/update/#{item._id}") Update ] | #[a(class="deleteButton" href="/delete/#{item._id}") Delete]

  script.
    $('.deleteButton').on('click', function() {
      $.ajax({url: window.location.pathname,
              type: 'DELETE'})
    })
