doctype html
html
  head
    script(src='http://code.jquery.com/jquery-1.11.3.min.js')
  body
    navbar#navbar
      #[a(href="/") Create ]
      #[a(href="/items") Search ]
      #[a(href="/update") Update ]
    h1 Search results
    p Find other items
    form(action="/items", method="post")
      input(type='text', id='searchBox' name="keyword")
      input(type='submit', id='searchButton', value='Search')
    - if (result.length < 1)
      p No results found
    - for r in result
      br
      table(style="border: 1px solid black")
        - for val, key in r
          tr
            td(style="border: 1px solid black") #{key}: #{val}
        td #[a(href="/update/#{r._id]}") Update ]
