doctype html
html
  head
    script(src='http://code.jquery.com/jquery-1.11.3.min.js')
  body
    navbar#navbar
      #[a(href="/") Create]
      #[a(href="/items") Search]
    h1 Search results
    p Find other items
    form(action="/items", method="post")
      input(type='text', id='searchBox' name="keyword")
      input(type='submit', id='searchButton', value='Search')
    - if (result.length < 1)
      p No results found
    - for r in result
      br
      - for val, key in r
        p #{key}: #{val}
