<!DOCTYPE html>
<html>
  <head>
  <!-- <script src="/application.js"></script> -->
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

  </head>
  <body>
    Create an account
    <form action="/users" method="post">
      Email: <input type="text" name="email">
      Password: <input type="password" name="password">
      Password confirmation: <input type="password" name="passwordConfirmation">
      <input id="signup" type="submit" value="sign up">
    </form>
  </body>
</html>
